In [2]:
#Import all the required dependencies
import os 
import sys
import pandas as pd
import numpy as np
import geopandas
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#Import Weather Dataset
weatherdata = os.path.abspath(os.path.join(os.getcwd(), '../Dataset/FirePredictor6.csv'))
WeatherData =  pd.read_csv(weatherdata)

In [4]:
WeatherData.head()

,Unnamed: 0,d2m_mean,d2m_std,t2m_mean,t2m_std,cvh_mean,cvl_mean,ptype_mean,ptype_std,sf_mean,...,type_std,AoB_Category,FIRE_CAUSE,FRCNTR,min_dist_to_roads,lon,lat,distanceinkm,year,month
0,0,5.535403,1.401351,6.268164,1.586880,0.840935,0.057009,1.000046,0.000000,0.000019,...,0.0,Very Low,Person,2.0,0.013282,-116.962727,50.320102,513.680113,2016,Aug
1,1,6.587591,0.691796,7.625171,0.753571,0.840935,0.057009,1.000046,0.000000,0.000000,...,0.0,Very Low,Person,2.0,0.013282,-116.962727,50.320102,513.680113,2016,Aug
2,2,4.810455,1.072378,5.797542,0.963947,0.840935,0.057009,0.875040,0.337847,0.000000,...,0.0,Very Low,Person,2.0,0.013282,-116.962727,50.320102,513.680113,2016,Aug
3,3,4.906936,0.305505,5.822573,0.284743,0.840935,0.057009,1.000046,0.000000,0.000000,...,0.0,Very Low,Person,2.0,0.013282,-116.962727,50.320102,513.680113,2016,Aug
4,4,5.355777,0.221331,6.168260,0.317925,0.840935,0.057009,0.916709,0.282343,0.000000,...,0.0,Very Low,Person,2.0,0.013282,-116.962727,50.320102,513.680113,2016,Aug

In [5]:
WeatherData.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [24]:
WeatherData.describe().T

,count,mean,std,min,25%,50%,75%,max
d2m_mean,75950.0,-7.376702,6.490167,-4.395662e+01,-1.081978e+01,-6.102589,-2.965031,9.840713
d2m_std,75950.0,1.542120,0.876695,1.802194e-01,8.934018e-01,1.354952,1.997664,8.802430
t2m_mean,75950.0,-4.922533,6.134066,-3.939802e+01,-8.102866e+00,-3.770094,-0.520308,10.555845
t2m_std,75950.0,1.819297,0.951063,2.032139e-01,1.104697e+00,1.616658,2.377914,9.169069
cvh_mean,75950.0,0.869845,0.163227,4.936292e-01,8.409351e-01,0.943082,0.985671,1.000000
cvl_mean,75950.0,0.111247,0.151808,0.000000e+00,1.318419e-02,0.040071,0.123999,0.473029
ptype_mean,75950.0,3.758649,1.624652,0.000000e+00,2.749999e+00,4.583319,4.999985,6.916663
ptype_std,75950.0,1.187510,1.098064,0.000000e+00,0.000000e+00,1.100063,2.265033,3.967025
sf_mean,75950.0,0.000088,0.000159,0.000000e+00,5.343269e-07,0.000019,0.000111,0.002618
sf_std,75950.0,0.000090,0.000137,0.000000e+00,9.114820e-07,0.000027,0.000133,0.001569
slt_mean,75950.0,1.971399,0.291375,9.999847e-01,1.999969e+00,1.999969,1.999969,4.000031
sp_mean,75950.0,88883.822539,3382.769263,8.026136e+04,8.677593e+04,89339.926208,90673.734792,102305.750250
sp_std,75950.0,207.650257,129.906506,1.494939e+01,1.111544e+02,178.667155,276.558903,957.400272
tp_mean,75950.0,0.000114,0.000224,4.656613e-10,1.330588e-06,0.000029,0.000134,0.003753
tp_std,75950.0,0.000110,0.000175,0.000000e+00,1.978725e-06,0.000038,0.000153,0.002142
tvh_mean,75950.0,3.081550,0.395777,2.999908e+00,2.999908e+00,2.999908,2.999908,5.000137
wind_speed_mean,75950.0,1.699316,0.941341,1.428659e-01,1.061086e+00,1.513535,2.060926,8.297834
wind_speed_std,75950.0,0.446770,0.263111,2.963355e-02,2.703528e-01,0.378308,0.540327,2.981751
Total_AoB,75950.0,2.095572,4.740521,3.696773e-04,9.810000e-02,0.418418,1.595207,48.262658
T21_mean,75950.0,49.072453,17.220551,2.725000e+01,3.837500e+01,45.090000,55.100000,127.392857
T21_std,75950.0,7.431688,11.428044,0.000000e+00,0.000000e+00,1.357694,11.570057,62.154686
T31_mean,75950.0,19.230474,7.731375,-2.950000e+00,1.435000e+01,18.950000,24.350000,38.950000
T31_std,75950.0,2.311175,3.355194,0.000000e+00,0.000000e+00,0.212132,3.970726,12.091526
sample_mean,75950.0,709.676376,289.345527,1.800000e+01,5.060000e+02,728.500000,912.333333,1320.000000
sample_std,75950.0,93.067801,183.914560,0.000000e+00,0.000000e+00,0.000000,29.737743,680.407415
FRP_mean,75950.0,43.832736,54.198860,4.100000e+00,1.350000e+01,25.200000,51.820000,578.514286
FRP_std,75950.0,25.107375,68.351155,0.000000e+00,0.000000e+00,1.767767,21.519572,818.962454
conf_mean,75950.0,65.917444,22.277896,0.000000e+00,5.100000e+01,66.500000,83.375000,100.000000
conf_std,75950.0,10.170251,12.948622,0.000000e+00,0.000000e+00,2.121320,19.052559,52.548390
FRCNTR,75950.0,5.465306,1.310804,2.000000e+00,5.000000e+00,5.000000,7.000000,7.000000
min_dist_to_roads,75950.0,0.199340,0.243887,2.647909e-03,1.506893e-02,0.150514,0.250708,1.495467
lon,75950.0,-126.183791,3.442715,-1.300247e+02,-1.300247e+02,-126.923168,-123.481979,-116.962727
lat,75950.0,53.746713,2.764303,5.032010e+01,5.118550e+01,52.195035,56.676294,56.761410
distanceinkm,75950.0,660.388381,199.611269,1.753193e+02,5.566415e+02,680.668893,736.681767,1057.213713
year,75950.0,2016.036735,2.195250,2.010000e+03,2.015000e+03,2017.000000,2018.000000,2019.000000

In [17]:
len(WeatherData.slt_std.unique())

1

In [18]:
len(WeatherData.tvh_std.unique())

1

In [57]:
def access_dataframe(dataframe):
    #convert date to datetime
    dataframe['date'] = pd.to_datetime(dataframe['date'])
    #extract day, month, year, time
    dataframe['day'] = dataframe['date'].dt.day
    dataframe['month'] = dataframe['date'].dt.month
    dataframe['year'] = dataframe['date'].dt.year
    dataframe['time'] = dataframe['date'].dt.time
    #extract season
    dataframe['season'] = np.where(dataframe['month'].isin([3,4,5]), 'spring',
                    np.where(dataframe['month'].isin([6,7,8]), 'summer',
                    np.where(dataframe['month'].isin([9,10,11]), 'autumn', 'winter')))
    #check if day is on the weekend or weekday
    dataframe['weekday'] = np.where(dataframe['date'].dt.dayofweek.isin([5,6]), 'weekend', 'weekday')

    return dataframe

In [58]:
access_dataframe(WeatherData)

,d2m_mean,d2m_std,t2m_mean,t2m_std,cvh_mean,cvl_mean,ptype_mean,ptype_std,sf_mean,sf_std,...,month,day,time,Day,Month,Year,Time,Season,season,weekday
0,5.535403,1.401351,6.268164,1.586880,0.840935,0.057009,1.000046,0.000000,1.886638e-05,0.000071,...,8,25,00:00:00,25,8,2016,00:00:00,Summer,summer,weekday
1,6.587591,0.691796,7.625171,0.753571,0.840935,0.057009,1.000046,0.000000,0.000000e+00,0.000000,...,8,25,00:00:00,25,8,2016,00:00:00,Summer,summer,weekday
2,4.810455,1.072378,5.797542,0.963947,0.840935,0.057009,0.875040,0.337847,0.000000e+00,0.000000,...,8,25,00:00:00,25,8,2016,00:00:00,Summer,summer,weekday
3,4.906936,0.305505,5.822573,0.284743,0.840935,0.057009,1.000046,0.000000,0.000000e+00,0.000000,...,8,25,00:00:00,25,8,2016,00:00:00,Summer,summer,weekday
4,5.355777,0.221331,6.168260,0.317925,0.840935,0.057009,0.916709,0.282343,0.000000e+00,0.000000,...,8,25,00:00:00,25,8,2016,00:00:00,Summer,summer,weekday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75945,-12.239337,2.858709,-10.391397,3.666590,0.980804,0.012711,3.333323,2.407710,8.804879e-07,0.000004,...,8,21,00:00:00,21,8,2018,00:00:00,Summer,summer,weekday
75946,-5.150947,2.151424,-3.403644,2.059114,0.980804,0.012711,4.999985,0.000000,1.071888e-04,0.000107,...,8,20,00:00:00,20,8,2018,00:00:00,Summer,summer,weekday
75947,-5.150947,2.151424,-3.403644,2.059114,0.980804,0.012711,4.999985,0.000000,1.071888e-04,0.000107,...,8,21,00:00:00,21,8,2018,00:00:00,Summer,summer,weekday
75948,-0.603806,0.744957,0.574248,0.279004,0.980804,0.012711,4.999985,0.000000,4.303066e-04,0.000366,...,8,20,00:00:00,20,8,2018,00:00:00,Summer,summer,weekday
75949,-0.603806,0.744957,0.574248,0.279004,0.980804,0.012711,4.999985,0.000000,4.303066e-04,0.000366,...,8,21,00:00:00,21,8,2018,00:00:00,Summer,summer,weekday

In [60]:
WeatherData.weekday.value_counts()

weekday    59830
weekend    16120
Name: weekday, dtype: int64

In [48]:
def extract_date_features(df):
    df['date'] = pd.to_datetime(df['date'])
    
    df['Day'] = df['date'].dt.day
    df['Month'] = df['date'].dt.month
    df['Year'] = df['date'].dt.year
    df['Time'] = df['date'].dt.time
    
    df['Season'] = np.where(df['Month'].isin([3,4,5]),'Spring',
                            np.where(df['Month'].isin([6,7,8]),'Summer',
                                    np.where(df['Month'].isin([9,10,11]),'Autumn',
                                            np.where(df['Month'].isin([12,1,2]),'Winter','Unknown'))))
    
    return df

In [52]:
WeatherData.Season.value_counts()

Summer    58280
Autumn    12710
Spring     4960
Name: Season, dtype: int64

In [53]:
WeatherData.Time.value_counts()

00:00:00    75950
Name: Time, dtype: int64

In [54]:
WeatherData.Year.value_counts()

2017    23870
2015    17670
2018    13950
2019     5580
2010     4030
2013     3720
2014     3100
2016     2480
2012     1240
2011      310
Name: Year, dtype: int64

In [55]:
WeatherData.Month.value_counts()

8     29140
7     27280
9      9920
10     2790
5      2480
4      2170
6      1860
3       310
Name: Month, dtype: int64

In [56]:
WeatherData.Day.value_counts()

9     5580
8     4650
14    3720
6     3720
21    3720
7     3410
22    3410
18    3410
5     3100
20    3100
27    3100
3     2790
1     2790
15    2790
11    2480
31    2170
28    2170
16    2170
25    1860
23    1860
17    1860
19    1860
24    1550
29    1550
12    1550
4     1240
13    1240
2     1240
10     620
30     620
26     620
Name: Day, dtype: int64

In [19]:
WeatherData.drop(['slt_std', 'tvh_std','HHMM_mean','HHMM_std', 'lat_mean', 'lat_std','lon_std', 'lon_mean', 'type_mean','type_std' ], axis =1, inplace = True)

In [25]:
print(WeatherData.columns)

Index(['d2m_mean', 'd2m_std', 't2m_mean', 't2m_std', 'cvh_mean', 'cvl_mean',
       'ptype_mean', 'ptype_std', 'sf_mean', 'sf_std', 'slt_mean', 'sp_mean',
       'sp_std', 'tp_mean', 'tp_std', 'tvh_mean', 'wind_speed_mean',
       'wind_speed_std', 'date', 'Total_AoB', 'sat', 'T21_mean', 'T21_std',
       'T31_mean', 'T31_std', 'sample_mean', 'sample_std', 'FRP_mean',
       'FRP_std', 'conf_mean', 'conf_std', 'AoB_Category', 'FIRE_CAUSE',
       'FRCNTR', 'min_dist_to_roads', 'lon', 'lat', 'distanceinkm', 'year',
       'month'],
      dtype='object')

In [26]:
# sns.set()
# columns = ['d2m_mean', 'd2m_std', 't2m_mean', 't2m_std', 'cvh_mean', 'cvl_mean',
#        'ptype_mean', 'ptype_std', 'sf_mean', 'sf_std', 'slt_mean', 'sp_mean',
#        'sp_std', 'tp_mean', 'tp_std', 'tvh_mean', 'wind_speed_mean',
#        'wind_speed_std', 'date', 'Total_AoB', 'sat', 'T21_mean', 'T21_std',
#        'T31_mean', 'T31_std', 'sample_mean', 'sample_std', 'FRP_mean',
#        'FRP_std', 'conf_mean', 'conf_std', 'AoB_Category', 'FIRE_CAUSE',
#        'FRCNTR', 'min_dist_to_roads', 'lon', 'lat', 'distanceinkm', 'year',
#        'month']

# sns.pairplot(WeatherData[columns],height = 2 ,kind ='scatter',diag_kind='scatter', hue="AoB_Category")
# plt.show()

In [33]:
to_drop = ['year','month', 'lon', 'lat', 'lon_std','Status', 'FRCNTR']
WeatherData.rename(columns = {'distanceinkm':'distance_to_firecenter'}, inplace = True)

In [34]:
categorical_variables = ['FIRE_CAUSE', 'sat']
label = 'AoB_Category'
continuous  = [col for col in WeatherData.columns if col not in to_drop + [label] + categorical_variables]

In [35]:
print(continuous)

['d2m_mean', 'd2m_std', 't2m_mean', 't2m_std', 'cvh_mean', 'cvl_mean', 'ptype_mean', 'ptype_std', 'sf_mean', 'sf_std', 'slt_mean', 'sp_mean', 'sp_std', 'tp_mean', 'tp_std', 'tvh_mean', 'wind_speed_mean', 'wind_speed_std', 'date', 'Total_AoB', 'T21_mean', 'T21_std', 'T31_mean', 'T31_std', 'sample_mean', 'sample_std', 'FRP_mean', 'FRP_std', 'conf_mean', 'conf_std', 'min_dist_to_roads', 'distance_to_firecenter']

In [36]:
# set indicators for categorical data
categorical_features = pd.get_dummies(WeatherData[categorical_variables].astype('str'))
categorical_features.head()

   FIRE_CAUSE_Lightning  FIRE_CAUSE_Person  FIRE_CAUSE_Unknown  sat_A  sat_T
0                     0                  1                   0      1      0
1                     0                  1                   0      1      0
2                     0                  1                   0      1      0
3                     0                  1                   0      1      0
4                     0                  1                   0      1      0

In [38]:
#Normalize all the continuos variables
X_all = WeatherData[continuous].to_numpy()
continuous_all_df = pd.DataFrame(X_all, columns=continuous)
features_all = pd.concat([continuous_all_df, categorical_features], axis = 1)
display(features_all.head())
display(features_all.shape)

,d2m_mean,d2m_std,t2m_mean,t2m_std,cvh_mean,cvl_mean,ptype_mean,ptype_std,sf_mean,sf_std,...,FRP_std,conf_mean,conf_std,min_dist_to_roads,distance_to_firecenter,FIRE_CAUSE_Lightning,FIRE_CAUSE_Person,FIRE_CAUSE_Unknown,sat_A,sat_T
0,5.535403,1.401351,6.268164,1.58688,0.840935,0.057009,1.000046,0.0,0.000019,0.000071,...,0.0,71.0,0.0,0.013282,513.680113,0,1,0,1,0
1,6.587591,0.691796,7.625171,0.753571,0.840935,0.057009,1.000046,0.0,0.0,0.0,...,0.0,71.0,0.0,0.013282,513.680113,0,1,0,1,0
2,4.810455,1.072378,5.797542,0.963947,0.840935,0.057009,0.87504,0.337847,0.0,0.0,...,0.0,71.0,0.0,0.013282,513.680113,0,1,0,1,0
3,4.906936,0.305505,5.822573,0.284743,0.840935,0.057009,1.000046,0.0,0.0,0.0,...,0.0,71.0,0.0,0.013282,513.680113,0,1,0,1,0
4,5.355777,0.221331,6.16826,0.317925,0.840935,0.057009,0.916709,0.282343,0.0,0.0,...,0.0,71.0,0.0,0.013282,513.680113,0,1,0,1,0

(75950, 37)

In [40]:
no_stds = [column for column in continuous if column.find('std') == -1]
X_no_stds = WeatherData[no_stds]
continuous_no_stds_df = pd.DataFrame(X_no_stds, columns=no_stds)
features_no_stds = pd.concat([continuous_no_stds_df, categorical_features], axis=1)
display(features_no_stds.head())
display(features_no_stds.shape)

,d2m_mean,t2m_mean,cvh_mean,cvl_mean,ptype_mean,sf_mean,slt_mean,sp_mean,tp_mean,tvh_mean,...,sample_mean,FRP_mean,conf_mean,min_dist_to_roads,distance_to_firecenter,FIRE_CAUSE_Lightning,FIRE_CAUSE_Person,FIRE_CAUSE_Unknown,sat_A,sat_T
0,5.535403,6.268164,0.840935,0.057009,1.000046,0.000019,1.999969,99108.095792,0.000737,2.999908,...,617.0,19.9,71.0,0.013282,513.680113,0,1,0,1,0
1,6.587591,7.625171,0.840935,0.057009,1.000046,0.000000,1.999969,100048.474625,0.000550,2.999908,...,617.0,19.9,71.0,0.013282,513.680113,0,1,0,1,0
2,4.810455,5.797542,0.840935,0.057009,0.875040,0.000000,1.999969,100995.813583,0.000019,2.999908,...,617.0,19.9,71.0,0.013282,513.680113,0,1,0,1,0
3,4.906936,5.822573,0.840935,0.057009,1.000046,0.000000,1.999969,100363.031042,0.000829,2.999908,...,617.0,19.9,71.0,0.013282,513.680113,0,1,0,1,0
4,5.355777,6.168260,0.840935,0.057009,0.916709,0.000000,1.999969,100265.676083,0.000284,2.999908,...,617.0,19.9,71.0,0.013282,513.680113,0,1,0,1,0

(75950, 25)

In [41]:
# Encoding label data
from sklearn.preprocessing import LabelEncoder
y = WeatherData[label]
le = LabelEncoder()
y_encoded = le.fit_transform(y)
label_df = pd.DataFrame(y_encoded, columns=[label])
display(list(map(lambda x, y: x + ' --> ' + str(y), le.classes_, le.transform(le.classes_))))

['High --> 0',
 'Low --> 1',
 'Moderate --> 2',
 'Very High --> 3',
 'Very Low --> 4']

In [42]:
XY_all = pd.concat([features_all, label_df], axis=1)
XY_no_stds = pd.concat([features_no_stds, label_df], axis=1)
display(XY_all.shape, XY_no_stds.shape)

(75950, 38)

(75950, 26)

In [43]:
#Save the dataset with stds
XY_all.to_csv('PredictorFinalWithSTDS.csv',index = False )
XY_no_stds.to_csv('PredictorFinalWithOutSTDS.csv',index = False )